Import pandas and numpy

In [1]:
import pandas as pd
import numpy as np

Question1: Print pandas version in Anaconda local setup

In [2]:
pd.__version__

'2.2.2'

Import dataset from url

In [3]:
url = 'https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv'
laptop_data = pd.read_csv(url)

Question 2: How many records in the dataset?

In [4]:
laptop_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2160 entries, 0 to 2159
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Laptop        2160 non-null   object
 1   Status        2160 non-null   object
 2   Brand         2160 non-null   object
 3   Model         2160 non-null   object
 4   CPU           2160 non-null   object
 5   RAM           2160 non-null   int64
 6   Storage       2160 non-null   int64
 7   Storage type  2118 non-null   object
 8   GPU           789 non-null    object
 9   Screen        2156 non-null   float64
 10  Touch         2160 non-null   object
 11  Final Price   2160 non-null   float64
dtypes: float64(2), int64(2), object(8)
memory usage: 202.6+ KB

In [5]:
laptop_data.head

<bound method NDFrame.head of                                                  Laptop       Status   Brand  \
0     ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...          New    Asus
1     Alurin Go Start Intel Celeron N4020/8GB/256GB ...          New  Alurin
2     ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...          New    Asus
3     MSI Katana GF66 12UC-082XES Intel Core i7-1270...          New     MSI
4     HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...          New      HP
...                                                 ...          ...     ...
2155  Razer Blade 17 FHD 360Hz Intel Core i7-11800H/...  Refurbished   Razer
2156  Razer Blade 17 FHD 360Hz Intel Core i7-11800H/...  Refurbished   Razer
2157  Razer Blade 17 FHD 360Hz Intel Core i7-11800H/...  Refurbished   Razer
2158  Razer Book 13 Intel Evo Core i7-1165G7/16GB/1T...  Refurbished   Razer
2159  Razer Book FHD+ Intel Evo Core i7-1165G7/16GB/...  Refurbished   Razer

           Model                CPU  RAM  Storage Storage type       GPU  \
0     ExpertBook      Intel Core i5    8      512          SSD       NaN
1             Go      Intel Celeron    8      256          SSD       NaN
2     ExpertBook      Intel Core i3    8      256          SSD       NaN
3         Katana      Intel Core i7   16     1000          SSD  RTX 3050
4            15S      Intel Core i5   16      512          SSD       NaN
...          ...                ...  ...      ...          ...       ...
2155       Blade      Intel Core i7   16     1000          SSD  RTX 3060
2156       Blade      Intel Core i7   16     1000          SSD  RTX 3070
2157       Blade      Intel Core i7   32     1000          SSD  RTX 3080
2158        Book  Intel Evo Core i7   16     1000          SSD       NaN
2159        Book  Intel Evo Core i7   16      256          SSD       NaN

      Screen Touch  Final Price
0       15.6    No      1009.00
1       15.6    No       299.00
2       15.6    No       789.00
3       15.6    No      1199.00
4       15.6    No       669.01
...      ...   ...          ...
2155    17.3    No      2699.99
2156    17.3    No      2899.99
2157    17.3    No      3399.99
2158    13.4   Yes      1899.99
2159    13.4   Yes      1699.99

[2160 rows x 12 columns]>

Question3: How many laptop brands are presented in the dataset

In [6]:
num_brands = laptop_data['Brand'].nunique()
num_brands

27

Question 4: How many missing values?

In [12]:
# missing_values_count = laptop_data.isnull().sum()
# columns_with_missing_values = (missing_values_count > 0).sum()
# columns_with_missing_values
# Refactored to:

print(laptop_data.isnull().sum().gt(0).sum())

# laptop_data.isnull().sum()  missing values per column -> .gt(0) checks if each column has missing value ->.sum() counts missing columns

3

Question 5: What's the maximum final price of Dell notebooks in the dataset?

In [13]:
print(laptop_data[laptop_data['Brand'] == 'Dell']['Final Price'].max())

3936.0

Question 6: Median value of Screen
Find the median value of Screen column in the dataset.
Next, calculate the most frequent value of the same Screen column.
Use fillna method to fill the missing values in Screen column with the most frequent value from the previous step.
Now, calculate the median value of Screen once again.

In [15]:
# Find the median value of Screen column in the dataset
median_screen_before = laptop_data['Screen'].median()

# Calculate the most frequent value of the same Screen column
most_frequent_screen_value = laptop_data['Screen'].mode()[0]

# Use fillna method to fill the missing values in Screen column with the most frequent value from the previous ste
laptop_data['Screen'] = laptop_data['Screen'].fillna(most_frequent_screen_value)

# Calculate the median of the 'Screen' column again
median_screen_after = laptop_data['Screen'].median()

median_screen_before, most_frequent_screen_value, median_screen_after

(15.6, 15.6, 15.6)

Answer: So we can see it doesn't changed

Question 7: Sum of weights
Select all the "Innjoo" laptops from the dataset.
Select only columns RAM, Storage, Screen.
Get the underlying NumPy array. Let's call it X.
Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
Compute the inverse of XTX.
Create an array y with values [1100, 1300, 800, 900, 1000, 1100].
Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
What's the sum of all the elements of the result?

In [17]:
# Step 1: Select all "Innjoo" laptops and only the specified columns
innjoo_laptops = laptop_data[laptop_data['Brand'] == 'Innjoo']

# Step 2: Select only columns RAM, Storage, Screen
innjoo_laptops_specific_columns = innjoo_laptops[['RAM', 'Storage', 'Screen']]
innjoo_laptops_specific_columns.info()

# Step 3: Get the underlying NumPy array. Let's call it X
X = innjoo_laptops_specific_columns.to_numpy()

# Step 4: Compute matrix-matrix multiplication between the transpose of X and X.
# To get the transpose, use X.T. Let's call the result XTX
XTX = X.T @ X

# Step 5: Compute the inverse of XTX
XTX_inv = np.linalg.inv(XTX)

# Step 6: Create array y with values [1100, 1300, 800, 900, 1000, 1100]
y = np.array([1100, 1300, 800, 900, 1000, 1100])

# Step 7: Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w
w = XTX_inv @ X.T @ y

# Step 8: Calculate the sum of all elements in w
sum_of_w = np.sum(w)
sum_of_w

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, 1478 to 1483
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   RAM      6 non-null      int64
 1   Storage  6 non-null      int64
 2   Screen   6 non-null      float64
dtypes: float64(1), int64(2)
memory usage: 192.0 bytes

91.2998806299557

Answer 91.30